@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,900&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

.container-1 {
    border: 3px solid gold;
}

.container-2 {
    border: 3px solid violet;
}

.container-3 {
    border: 3px solid lime;
}

.container-4 {
    border: 3px solid violet;
}

.container-5 {
    border: 3px solid red;
}